@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
}

#backgroundImg img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -10;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.light-mode .pop-up__title {
    border-color: var(--theme-color);
}

:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);

    --section-bg-dark: rgba(0, 0, 0, 0.5);
    --section-bg-hover: var(--section-bg-dark);


    /* Secondary Variables */

    --defaltBoxSizeW: 40vw;
    --defaltBoxSizeV: 45vh;

    --sectionBorderRadius: 20px;

    --textCardMargin: 20px;

    --widthSection: 1px;
    --heightSection: 40vh;

    --fontSize: 15px;

    --backgroundFade: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

@media screen and (max-width: 1370px) {
    :root {
        --fontSize: 5px;
    }
}


.light-mode {
    --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --popup-bg: rgb(255 255 255);
    --border-color: rgb(255 255 255 / 35%);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: var(--theme-color);
    --section-bg: rgba(250, 250, 250, 0.4);

    --section-bg-hover: var(--popup-bg);

    --backgroundFade: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));

    /* --content-title-color: --theme-color;  */
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-size: cover;
    background-position: center;


    background: rgb(28, 180, 223);
    background: -moz-linear-gradient(45deg, rgba(28, 180, 223, 1) 0%, rgba(55, 81, 152, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(28, 180, 223, 1) 0%, rgba(55, 81, 152, 1) 100%);
    background: linear-gradient(45deg, rgba(28, 180, 223, 1) 0%, rgba(55, 81, 152, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1cb4df", endColorstr="#375198", GradientType=1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
}

.dark-light {
    font-size: 0;
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    margin-left: auto;
    flex-shrink: 0;


    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}

.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
}

.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}

.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}

.light-mode .dropdown.is-active ul {
    background-color: rgba(255, 255, 255, 0.94);
}

.light-mode .section-contents, .light-mode .button-inv,.light-mode #projects-list,.light-mode #no-results-message{
    background-color: var(--section-bg);
}

.light-mode .principal-section {
    color: var(--theme-color);
}

.light-mode #projects-list li:hover,.light-mode .button-inv:hover {
    background-color: var(--section-bg-hover);
}

body.light-mode:before,
body.light-mode .video-bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
    -webkit-backdrop-filter: saturate(3);
    backdrop-filter: saturate(3);
}

.app {
    background-color: var(--theme-bg-color);
    max-width: 1250px;
    max-height: 860px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    font-size: var(--fontSize);
    font-weight: 500;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu a {
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.header-menu a.is-active,
.header-menu a:hover,
.header-menu a:focus {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}



.header-menu a::placeholder {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

.menu-circle {
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-right: 195px;
    flex-shrink: 0;
}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 200px;
    border-radius: 4px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--search-bg);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: var(--fontSize);
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    color: var(--theme-color);
}

.search-bar input::-moz-placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: var(--fontSize);
    font-weight: 500;
}

.search-bar input:-ms-input-placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: var(--fontSize);
    font-weight: 500;
}

.search-bar input::placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: var(--fontSize);
    font-weight: 500;
}

.wide .search-bar {
    max-width: 600px;
    margin: auto;
    transition: 0.4s;
    box-shadow: 0 0 0 1px var(--border-color);
    padding-left: 0;
}

.header .search-bar {

    margin: auto;
    transition: 0.4s;

}

.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.left-side {
    flex-basis: 240px;
    border-right: 1px solid var(--border-color);
    padding: 26px;
    overflow: auto;
    flex-shrink: 0;
}

.side-wrapper+.side-wrapper {
    margin-top: 20px;
}

.side-title {
    color: var(--inactive-color);
    margin-bottom: 14px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.side-menu a {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: var(--hover-menu-bg);
}

.side-menu svg {
    width: 16px;
    margin-right: 8px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
}

/* .main-header .header-menu {
  margin-left: 150px;
} */

.main-header .header-menu a {
    padding: 20px 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    padding: 0 30px;
    text-align: center;

}

.content-button {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    display: flex;
    text-decoration: none;
    justify-self: center;
    align-items: center;

}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
    margin-bottom: 10px;

}

.link-buttons {
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    display: flex;
    text-decoration: none;

}

.icons {
    padding: 0px;
    margin: 0px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-flex;

}

.menu-bar {
    display: flex;
}

.content-button:not(.open):hover {
    background: #1e59f1;
}

.main-content {
    padding: 2vw;
    overflow: scroll;

    flex-direction: column;
    justify-content: center;

    /* 
  
  margin-top: 20px;

  border-right: 1px solid var(--border-color);
  
  flex-shrink: 0;
  scroll-behavior: smooth;
  overflow: auto;
  width: auto; 
  
  */

}



.main-content::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
    margin-bottom: 10px;

}

.main-content::-webkit-scrollbar-corner {
    display: none;
}


p {
    text-align: center;
    ;
}


.main-contentP {
    display: flex;
    flex-direction: column;

    width: auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex-grow: 1;

    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 240px;
    overflow: hidden;
    overflow: auto;
    scroll-behavior: smooth;

}

.soon {
    /* height: 10vh; */
    padding: 4vh;
    width: 70vh;

    background-color: var(--theme-bg-color);
    color: var(--theme-color);


    align-items: center;
    justify-content: center;
    display: flex;

    transform: rotate(-30deg);
}

.img-content {
    overflow: hidden;

    margin-bottom: 50px;
    background-color: var(--theme-bg-color);
    width: 50%;
    height: 15vh;
    border-radius: 20px;

    align-items: center;
    justify-content: center;
    display: flex;

    margin: 10em auto 10em auto;
    overflow: hidden;

}

.img-src-project {
    border-radius: 20px;
}

.section-contents {

    color: var(--theme-color);
    background-color: var(--section-bg-dark);
    border-radius: 10px;

    padding: 20px;
    width: auto;

    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
}

section {
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    min-height: 20vh;
    max-width: fit-content;

    margin: 20vh;
    margin-top: 0;
    margin-bottom: 20vh;

}

.title-section {
    margin-top: 0;
    margin-bottom: 30vh;
    padding-top: 23vh;
    padding-bottom: 23vh;

}

.hab-title-section {
    /* max-height: 30vh;
  height: 30vh; */
    margin-bottom: 100vh;
}




.flip-card:first-child {
    margin: 3em auto 3em auto;
}


.flip-card {
    background-color: transparent;
    width: var(--defaltBoxSizeW);
    max-height: var(--defaltBoxSizeV);
    height: 100%;
    perspective: 1000px;
    margin: 10em auto 10em auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}

.flip-card-front {
    background-color: var(--theme-bg-color);
    background-image: var(--backgroundFade), url('./assets/landing-page.jpg');
    object-fit: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

    border: none;
    background-position: center;
    background-size: cover;
}

.flip-card-front h1 {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 40px;
    color: var(--theme-color);
    /* margin: var(--textCardMargin); */
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--sectionBorderRadius);

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));


    display: inline-block;
    position: relative;

}

.flip-card-back {
    display: flex;
    flex-direction: column;
    ;
    /* background-image: linear-gradient(315deg, var(--color1), var(--color5)); */
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    transform: rotateY(180deg);
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
    object-fit: scale-down;
    border-radius: var(--sectionBorderRadius);
}

.flip-card-back h3 {
    margin: var(--textCardMargin);
    margin-bottom: 0.3rem;
    font-size: var(--fontSize);
}



.logoImg {
    width:100px;
    height: 100px;
}

.flip-card-front h1{
    width: 100%;

}



.button-inv{
    margin: 2vh;
    color: var(--theme-color);
    border-radius: 10px;

    padding: 10px 30px;
    width: auto;

    display: grid;
    place-items: center;

    width: auto;
    border: none;
    
    border-radius: 40px;

    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    text-decoration: none;
}

.button-inv:hover{
    background-color: rgba(0,0,0,0.7);
}


















.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hab-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo:nth-child(1) {
    transition-delay: 200ms;
}

.logo:nth-child(2) {
    transition-delay: 400ms;
}

.logo:nth-child(3) {
    transition-delay: 600ms;
}

.logo:nth-child(4) {
    transition-delay: 800ms;
}

.logo:nth-child(5) {
    transition-delay: 1000ms;
}

.logo:nth-child(6) {
    transition-delay: 200ms;
}

.subsection {
    margin: 5vh;
    display: none;
    transition: 1s;
}

#description {
    display: none;
}

#description0 {
    display: block;
}


@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 980px) {
    .main-header {
        width: 100%;
        justify-content: center;
        /* align-items: center; */
        /* align-content: flex-end; */
        display: inline;
        flex-direction: row;
    }

    .header-menu{
        justify-content: center; 
    }
}

@media screen and (max-width: 480px) {

    :root {
        --fontSize: 12px;
    }

    body {
        margin: 0;

    }

    .app {
        position: absolute;
        


        border-radius: 0;
        font-size: var(--fontSize);
        width: 100vw;
        height: 100vh;

        
        margin: 0;
    }

    .background{
        width: 100%;
        height: 100%;
        
    }

    .menu-header,
    .menu-circle{
        display: none;
    }

    .header{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: unset;
    }

    #headerMenu, .menu-link{
        all:unset;
        justify-self: start;    
        padding: 0;
        margin: 0;
    }

    .header button, #headerMenu {
        margin: 0 1em 0 1em;
    }


    .main-header, .main-container, .header-menu, .search-bar, .main-contentP, .main-contentP section{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .header-menu{
        justify-content: center; 
    }

    .search-bar {
        padding: 0;
        justify-content: end;
        margin: 0 2em 0 0;
        height: 40px;
        max-width: 14em;
        transition: 0.7s;
        
    }

    .search-bar input {
        font-size: var(--fontSize);
    }

    .search-bar input::placeholder {
        font-size: var(--fontSize);
    }

    .wide .search-bar {
        transition: 0.7s;

    }

    #description0 div p{
        font-size: 0;
    }

    #description0 div p::before{
        font-size: var(--fontSize);
        content: '<-- Toque nas logos para obter mais detalhes -->';
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    .hab-logos {
        margin-bottom: 2em;
    }

    .main-contentP section{ 
        margin-bottom: 40vh;
    }

    #habilities div section{
        
        margin: 0;
    }
}

@media screen and (max-width: 610px) {
    /* .header-menu a:not(.main-header-link) {} */

}

@media screen and (max-width: 945px) {

    .left-side, .menu-circle {
        display: none;
    }

}

@media screen and (max-width: 1370px) {
    .menu-link-main {
        display: none;
    }

    /* .app {
        font-size: 12px;
    } */

    :root {
        --fontSize: 12px;
    }

    .logoImg {
        width: 75px;
        height: 75px;
    }

    .side-menu {
        font-size: 10px;
    }

    .icons {
        width: 18px;
        height: 18px;
    }

    .title-section {
        margin-top: 0;
        margin-bottom: 30vh;
        padding-top: 15vh;
        padding-bottom: 23vh;
    }
}


#projects-list, #no-results-message, .button-inv{
    color: var(--theme-color);
    background-color: var(--section-bg-dark);
    list-style-type: none;
}

#projects-list{
    height: auto;
    overflow-y: auto;
    /* padding: 1.5em 0 1.5em 0; */
    margin: 0;
    padding: 1em 1em 1em 1em;
}

#projects-list *{
    height: auto;
    width: auto;

    margin: 1em;

    color: var(--theme-color);

    margin-right: 15px;
}

#projects-list div {
    height: 100%;
    padding: 1em 0 1em 0;
    margin: 0;
}

#projects-list li{
    /* padding: 1em 0 1em 0; */
    margin: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #3c3a3a solid 2px;
    height: auto;
}
#projects-list li h2{
    margin: 0;
}
#projects-list li a{
    text-decoration: none;
    margin: 0;

    text-align: center;
    display: block;
    align-items: center;

    cursor: pointer;

}

#projects-list li:hover{
    background-color: var(--section-bg-hover);
    transition: background 0.5s ease;
}

#no-results-message-outter {
    height: auto;
    width: 100%;

}


#no-results-message{
    padding-top: 1em;
    padding-bottom: 1em;
}