:root {
    --body-font: "Poppins", sans-serif;
    /* ================== */
    /* Varáveis Numéricas */
    /* ================== */
  
    --defaltPaddingMargin: 20px;
  
    --textPaddingMargin: 40px;
    --textCardMargin: 20px;
  
    --defaltBoxSizeW: 40vw;
    --defaltBoxSizeV: 45vh;
  
    --defaltBoxInnerSizeW: 35vw;
    --defaltBoxInnerSizeV: 40vh;
  
    --sectionBorderRadius: 16px;
  
    --fontSize: 20px;
    --fontSizeMenu: 20vh;
  
    --defaltTopicsTitleSizeV: 0;
  
    --defaltWidthRoadMap: 75vw;
    --defaltHeightRoadMap: 80vh;
  
    --defaltWidthForm: 60vw;
    --defaltHeightForm: 75vh;
  
    --defaltWidthFormInner: 60vw;
    --defaltHeightFormInner: 100vh;
  
  
  
    /* =============== */
    /* Paleta de Cores */
    /* =============== */
  
    --color1: #14aaeb;
    --color2: #38bff0;
    --color3: #5cd5f5;
    --color4: #80eafa;
    --color5: #a4ffff;
  
    --hoverColor: rgba(5, 5, 5, 0.4);
    /* --hoverColor2: rgba(13, 0, 255, 0.952); */
    --hoverColor2:var(--color5);
  
    --fontColor: black;
  
  
    --backgroundHeader: var(--color3);
  
    --backgroudPgColor: #0fed16;
    --backgroudMainColor: var(--color4);
    --backgroundImageGradient: linear-gradient(45deg, var(--color1), var(--color5));
  
    --footerBackground: #f4f4f4;
    
    --footerBorder: #e5e5e5;
    --footerColor: #2f2f2f;
    --footerColorNav: #999;
    --footerButtonColor: rgb(33, 33, 33, 0.07);
  
    --glassBorder: rgba(255, 255, 255, 0.18);
    --glassBoxShadow: rgba(31, 38, 135, 0.37);
  
    /* ===== */
    /* Geral */
    /* ===== */
  
    --display: none;
    --displayM: flex;
    scroll-behavior: smooth;
  }

body {
    padding-top: 1em;
    display: flex;
    justify-content: center;;
    font-family: var(--body-font);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.flip-card {
    background-color: transparent;
    width: var(--defaltBoxSizeW);
    height: var(--defaltBoxSizeV);
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: var(--sectionBorderRadius);
  }
  
  .flip-card-front { 
    background-color: #cccccc; /* Used if the image is unavailable */
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assets/landing-page.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    width: var(--defaltBoxSizeW);
    height: var(--defaltBoxSizeV);

    border: none;
    background-position: center;
    background-size: cover;
  }
  
  .flip-card-front h1 {
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);


    font-size: 40px;
    color: white;
  }

  .flip-card-front img{
    width: 100%;
    height: 100%;
    /* object-fit:scale-down; */
    object-fit: cover;
    border-radius: var(--sectionBorderRadius);

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

    
    display: inline-block;
    position: relative;

  }
  
  .flip-card-back {
    display: flex;
    flex-direction: column;;
    background-image: linear-gradient(315deg, var(--color1), var(--color5));
    color: var(--fontColor);
    transform: rotateY(180deg);
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-back img {
    width: 140px;
    margin-top: 1rem;
    object-fit:scale-down;
    border-radius: var(--sectionBorderRadius);
  }
  
  .flip-card-back h3{
    margin: var(--textCardMargin);
    margin-bottom: 0.3rem;
    font-size: var(--fontSize);
  }
  
  .flip-card-back h1 {
    margin: var(--textCardMargin);
  }
  