svg {
    width: 40%;
    height: 40%;
    fill:    #65bbf2;
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 2266;
    stroke-dashoffset: 0;
	animation: 5s desenha infinite alternate;
}

@keyframes desenha {
  to {
		/* Inicio: Ponto inicial */
    stroke-dashoffset: var(--tamanhoTotalDoPath);
  }
  from {
		/* Fim: Altera o início para 0 */
    stroke-dashoffset: 0;
  }
}


.body{
  flex-direction: column;
}